@charset "utf-8";

/* CSS Document 20180808 for pzh by */

html,
body {

	width: 100%;

	height: 100%;
	background-color: #efeff2 !important;
	overflow: hidden;

}

.loadling {
	background-image: url(../img/loading5.gif);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;



}

.loadnum {
	position: absolute;
	font-size: 18px;
	color: #FE8800;
	transform: translateX(-50%);
	left: 5.1rem;
	top: 5.39rem;
}

.p_bg_1 {

	width: 2.5rem;
	height: 0.3rem;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
	background-size: 100% 100%;

}




.yao_bg {
	width: 2rem;
	position: absolute;
	left: 4rem;
	top: 1rem;
	z-index: 9;
}



.pagtion_right1 {
	width: 2rem;
	height: .6rem;
	position: absolute;
	top: 5.2rem;
	display: flex;
	left: 50%;
	transform: translateX(-50%);

}

.pagtion_right2 {
	width: 2rem;
	height: .6rem;
	position: absolute;
	top: 5.2rem;
	display: flex;
	left: 50%;
	transform: translateX(-50%);

}

.pagtion_ri {
	margin-top: 18px
}

.pagtion_right3 {
	width: 2rem;
	height: .6rem;
	position: absolute;
	top: 5.2rem;
	display: flex;
	left: 50%;
	transform: translateX(-50%);

}

.tm5_1 {
	margin-top: -10px;
}

.tm5_2 {
	margin-top: -14px
}

.tm5_3 {
	position: relative;
	left: .15rem;
	top: -10px;
}

.tm_4232 {
	margin-top: -26px
}

.pagtion_right1 img {
	width: 100%;
	height: 100%;
}

.pagtion_right2 img {
	width: 100%;
	height: 100%;
}

.pagtion_right3 img {
	width: 100%;
	height: 100%;
}


.cy_btn {

	/* height: 100%; */
	margin-top: 5px;
	max-width: 85.5%;

	position: fixed;

	left: 0.5rem;

	top: 2.4rem;



}

.dh_gif {
	width: 1.3rem;
	height: 0.8rem;
	position: fixed;
	left: 5.63rem;
	top: 3.82rem;
	-webkit-animation-name: ring;

	animation-name: ring;

	-webkit-animation-duration: 3s;

	animation-duration: 3s;

	-webkit-animation-delay: 2s;

	animation-delay: 2s;

	animation-iteration-count: infinite;

	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes ring {

	0% {
		-webkit-transform: scale(1);
	}

	10%,
	20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
	}

}

@keyframes ring {

	0% {
		transform: scale(1);
	}

	10%,
	20% {
		transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		transform: scale(1) rotate(0);
	}

}

.gz_btn {

	height: 0.6rem;
	width: 2.92rem;
	position: fixed;
	left: 0.58rem;
	top: 4.75rem;
}

.zj_btn {
	width: 2.9rem;
	height: 0.61rem;
	position: fixed;
	left: 3.87rem;
	top: 4.75rem;
}

.gz_btn img {

	height: auto;

	width: 100%;

}



.sp_box {
	background-repeat: no-repeat;

	background-size: 100% auto;

	background-image: url(../img/sp_box.jpg);

	background-color: rgba(255, 255, 255, 1);


}

.sp_box .video_box {
	width: 78%;
	text-align: center;
	margin: 0 auto;
	margin-top: 4.9rem;
	position: relative;
}

.sp_box .video-box .view {
	width: 100%;
	height: 200px;
	background-color: red;
	text-align: center;

}

.sp_box .bf {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -25px;

}

.djs_box {
	height: 0.9rem;
	width: 3.1rem;
	position: fixed;
	left: 2.25rem;
	top: 9.5rem;
	text-align: center;
	line-height: 0.9rem;
	font-size: 0.4rem;
	color: #b1b1b1;
}

.wd_btn {
	height: 0.9rem;
	width: 3.1rem;
	position: fixed;
	left: 2.25rem;
	top: 9.5rem;

}

.wd_box {
	background-repeat: no-repeat;

	background-size: 100% auto;

	background-image: url(../img/dt_bj1.jpg);

	background-color: rgba(255, 255, 255, 1);
}

.zbc_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.box1 {
	width: 70px;
	height: 70px;

	text-align: center;
	line-height: 60px;
	display: inline-block;
	position: absolute;
	top: 8rem;
	left: 3rem;
	/* margin-left: -50px; */
	color: #fff;

}

.box1 img {
	width: 100px;
	margin-left: -15px;
	margin-top: -15px;
	max-width: 100px;
}

#Answer_3 {
	margin-top: -10px;
}

.wt_xiu2 {
	margin-top: -10px;
}

.qa1bj {
	position: relative;
	margin-top: 4.3rem;
	padding-left: .4rem;
}

.qa2da {
	margin-top: 4rem;
}

.option {

	width: 90%;
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.option-1 {
	width: 48%;
	box-sizing: border-box;
	position: relative;
}

.option-tes {
	display: flex;
	flex-direction: column;
}

.option-tes_1 {
	width: 100%;
	padding-left: 10px;
	margin-top: -.2rem;
}

.option-1 .option-img {
	width: 70%;
	margin: 5% 15%;
}

.option_xiu {
	width: 62% !important;
}

.yes {
	position: absolute;
	width: .5rem;
	top: .25rem;
	left: 1rem;
	display: none;
}

.yes5 {
	margin-left: -12px;
}

.yes1 {
	position: absolute;
	width: .5rem;
	top: .25rem;
	left: .55rem;
	display: none;
}

.selected {
	display: block;
}

.wt {
	max-width: 87%;
}

.allShow {
	position: fixed;
    z-index: 99;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.556);

}

.showmodel {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 3.5rem;
	margin-left: -40%;
	margin-top: -1.5rem;
	background-color: rgba(255, 255, 255, 0.815);
	color: #000;
	z-index: 999;
	text-align: center;
	line-height: 1.9;
	border-radius: .2rem;
}

.warn_close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 10px;
	bottom: 10px;
}


.rcj_div {
	background-repeat: no-repeat;

	background-size: 100% auto;

	background-image: url(../img/cj.jpg);

	background-color: rgba(255, 255, 255, 1);
}

.box_div {
	background-color: #efeff2 !important;
	position: fixed;

	z-index: 99;

	left: 0px;

	top: 0px;

	right: 0;

	bottom: 0;

	display: none;

}

.gz_back_home {

	font-size: 0.5px;

	line-height: 0.5rem;

	color: #FFF;

	text-align: center;

	background-color: #6CC;

	height: 0.5rem;

	width: 2rem;

}

.gz_box {

	background-repeat: no-repeat;

	background-size: 100% auto;

	background-image: url(../img/shuoming.jpg);

	background-color: rgba(255, 255, 255, 1);

}

.cy_btn2 {

	height: 0.8rem;

	width: 3rem;

	display: inline-block;

	margin-top: 9rem;

	margin-left: 2.3rem;

	background-image: url(../img/cy_btn2.png);

	background-size: 100% 100%;

}

.wcy_box {

	background-repeat: no-repeat;

	background-size: 100% auto;

	background-image: url(../img/wcy_box.jpg);

	background-color: rgba(255, 255, 255, 1);

}

.cy_btn3 {

	height: 0.8rem;

	width: 3rem;

	display: inline-block;

	margin-top: 8.35rem;

	margin-left: 2.3rem;

	background-image: url(../img/cy_btn2.png);

	background-size: 100% 100%;

}

.yzj_wtx_box {

	background-repeat: no-repeat;

	background-size: 100% auto;

	background-image: url(../img/zjd_box.jpg);

	background-color: rgba(255, 255, 255, 1);

}

.bottom_btn {

	text-align: center;

	height: auto;

	width: 100%;

	top: 8.2rem;

	position: fixed;

}



.tx_btn {

	height: 0.8rem;

	width: 2.5rem;

	display: inline-block;
	background-image: url(../img/tx_btn.png);

	background-size: 100% 100%;

}

.fx_btn {

	height: 0.8rem;

	width: 2.5rem;

	display: inline-block;
	background-image: url(../img/fx_btn.png);

	background-size: 100% 100%;

}

.wjp_div {

	height: 8rem;

	width: 5.4rem;

	position: fixed;

	left: 1.1rem;

	top: 3rem;

}

.wjp_div img {

	height: auto;

	width: 100%;

}

.yzj_ytx_box {

	background-repeat: no-repeat;

	background-size: 100% auto;
	background-image: url(../img/zjd_box.jpg);

	background-color: rgba(255, 255, 255, 1);

}

.yjp_div {

	height: 8rem;

	width: 5.9rem;

	position: fixed;

	left: 0.8rem;

	top: 1.9rem;

}

.yjp_div img {

	height: auto;

	width: 100%;

}

.ewm_div {

	height: 1.5rem;

	width: 1.5rem;

	position: fixed;

	left: 0.6rem;

	top: 10.3rem;

}

.hj_info {

	width: 100%;

	padding-right: 1.5rem;

	padding-left: 1.5rem;

	position: fixed;

	top: 7rem;

	box-sizing: border-box;

}

.hj_info span {

	font-size: 0.25rem;

	line-height: 0.35rem;

	color: #666;

	clear: both;

	float: left;

	height: auto;

	width: 100%;

	word-break: break-all;

	text-align: center;

}

.hj_sm {

	font-size: 0.2rem;

	line-height: 0.4rem;

	color: #333;

	text-align: center;

	height: 0.4rem;

	width: 100%;

	position: fixed;

	left: 0px;

	bottom: 0px;

}

.ycy_wzj_box {
	background-image: url(../img/ycy_wzj_box.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;

}

.ct_box {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(../img/dt_ct.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	/* background-color: rgba(0, 0, 0, 0.4); */
}

.showfalse {
	position: fixed;
	top: 4.5rem;
	left: 10%;
	width: 80%;
	text-align: center;
	color: #e7190b;
}

.warn {
	/* color: red; */
	display: inline-block;

}

.dt_dj {
	background-image: url(../img/dt_dj.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 1.41rem;
	width: 3.43rem;
	position: fixed;
	top: 7.8rem;
	left: 50%;
	transform: translateX(-50%);
}


/*音乐播放*/

#ls_hmtl {

	width: 100%;

	height: 60px;

	overflow: hidden;

	text-align: center;

	position: absolute;

	top: 0;

	left: 0;

	z-index: 10;

	pointer-events: none;

}

#ls_botton {

	width: 16rem;

	height: 2rem;

	overflow: hidden;

	text-align: center;

	position: absolute;

	bottom: 0;

	left: 0;

	z-index: 10;

	pointer-events: none;

}

.ls_audioDiv {

	top: .1rem;

	right: .2rem;

	width: 60px;

	height: 60px;

	position: absolute;

}

.R_anims2 {

	-webkit-animation: R_anims2_anim 7s linear infinite;

}

@-webkit-keyframes R_anims2_anim {

	0% {

		-webkit-transform: rotate(0deg);

	}



	100% {

		-webkit-transform: rotate(360deg);

	}

}

.ls_audioDiv {

	pointer-events: auto;

	z-index: 100;

	/*display: none;*/

}

.ls_audioDiv>img {

	width: 100%;

	height: 100%;

}

/*音乐播放-----end--------*/

.dh01 {

	height: 6.2rem;

	width: 100%;

	position: absolute;

	top: 3.8rem;

	box-sizing: border-box;

	padding: 0 1.5rem;

	overflow: hidden;

	z-index: 99999;

	display: none;

}

.swiper-slide-active>.dh01 {

	display: block;

}

.swiper-slide-active>.dh01>.dh00 {

	height: auto;

	width: 100%;

	position: relative;

	top: 6.3rem;

	animation: swdh 5s ease-in-out 0s 1 forwards;

	-webkit-animation: swdh 5s ease-in-out 0s 1 forwards;

	-moz-animation: swdh 5s ease-in-out 0s 1 forwards;

	-ms-animation: swdh 5s ease-in-out 0s 1 forwards;

	-o-animation: swdh 5s ease-in-out 0s 1 forwards;

}

@keyframes swdh {

	0% {
		top: 6.3rem;
	}

	20% {
		top: 5.2rem
	}

	40% {
		top: 3.9rem
	}

	60% {
		top: 2.35rem
	}

	80% {
		top: 1rem
	}

	100% {
		top: 0
	}

}

@-webkit-keyframes swdh {

	0% {
		top: 6.3rem;
	}

	20% {
		top: 5.2rem
	}

	40% {
		top: 3.9rem
	}

	60% {
		top: 2.35rem
	}

	80% {
		top: 1rem
	}

	100% {
		top: 0
	}

}

@-moz-keyframes swdh {

	0% {
		top: 6.3rem;
	}

	20% {
		top: 5.2rem
	}

	40% {
		top: 3.9rem
	}

	60% {
		top: 2.35rem
	}

	80% {
		top: 1rem
	}

	100% {
		top: 0
	}

}

@-ms-keyframes swdh {

	0% {
		top: 6.3rem;
	}

	20% {
		top: 5.2rem
	}

	40% {
		top: 3.9rem
	}

	60% {
		top: 2.35rem
	}

	80% {
		top: 1rem
	}

	100% {
		top: 0
	}

}

@-o-keyframes swdh {

	0% {
		top: 6.3rem;
	}

	20% {
		top: 5.2rem
	}

	40% {
		top: 3.9rem
	}

	60% {
		top: 2.35rem
	}

	80% {
		top: 1rem
	}

	100% {
		top: 0
	}

}

@-o-keyframes swdh {

	0% {
		top: 6.3rem;
	}

	20% {
		top: 5.2rem
	}

	40% {
		top: 3.9rem
	}

	60% {
		top: 2.35rem
	}

	80% {
		top: 1rem
	}

	100% {
		top: 0
	}

}

.choujiang_btn {

	background-image: url(../img/choujiang_btn.png);

	background-repeat: no-repeat;

	background-size: 100% 100%;

	height: 1.41rem;

	width: 3.43rem;

	position: absolute;

	left: 2rem;

	top: 8rem;

	z-index: 9999;

	display: inline-block;

}

.cj_div {

	background-color: rgba(0, 0, 0, .4);

}



.choujiangzhong {

	background-image: url(../img/choujiang_btn.png);

	background-repeat: no-repeat;

	background-size: 100% 100%;

	height: 0.73rem;

	width: 2.75rem;

	position: fixed;

	left: 2.5rem;

	top: 9rem;

}

.yaojiang {

	height: 100%;

	width: 100%;

	position: fixed;

	left: 0;

	top: 0;

}



.fxts_box {

	height: 100%;

	width: 100%;

	position: fixed;

	left: 0px;

	top: 0px;

	background-color: rgba(0, 0, 0, .4)
}

.fxts_box img {


	width: 100%;

}

.second_box {

	background-repeat: no-repeat;

	background-size: 100% auto;

	background-image: url(../img/second.jpg);

	background-color: rgba(0, 0, 0, 0.4);

}

.p_bg img {

	height: 100%;
	width: 100%;

}

.uf_bg {

	height: 100%;

	width: 100%;

	position: fixed;

}

.uf_bg img {

	height: auto;

	width: 100%;

}

.uf_form {

	height: 12.1rem;

	width: 100%;

	position: absolute;

	background-image: url(../img/user_form.jpg);

	background-repeat: no-repeat;

	background-position: center top;

	background-size: 100% 100%;

}

.uf_in {

	height: 0.75rem;

	width: 100%;

	padding-right: 1rem;

	padding-left: 1rem;

	box-sizing: border-box;

	background-image: url(../img/input_bg.png);

	background-repeat: no-repeat;

	background-position: center center;

	background-size: auto 100%;

}

.uf_in input {

	font-size: 0.3rem;

	line-height: 0.75rem;

	color: #eb5c00;

	margin: 0px;

	padding: 0px;

	float: left;

	height: 0.75rem;

	width: 3.6rem;

	background: none;

	border: none;

	box-sizing: border-box;

	padding-left: 10px;

}

.uf_in select {

	font-size: 0.3rem;

	line-height: 0.75rem;

	color: #eb5c00;

	margin: 0px;

	padding: 0px;

	float: left;

	height: 0.75rem;

	width: 3.6rem;

	background: none;

	border: none;

	box-sizing: border-box;

	padding-left: 10px;

	-webkit-appearance: none;

	-moz-appearance: none;

	appearance: none;

}

.uf_sm {

	text-align: center;

	height: 0.7rem;

	width: 100%;

	margin-top: 0.2rem;

}

.uf_sm img {

	height: 0.6rem;

}

.uf_in img {

	float: left;

	height: 0.72rem;

	width: auto;

}

.uf_sub {

	text-align: center;

	height: auto;

	width: 100%;

	margin-top: 6px;

}

.uf_sub input {
	position: relative;
	top: 1.4rem;
	background-image: url(../img/fu_sub.png);

	background-repeat: no-repeat;

	height: 0.8rem;

	width: 2.8rem;

	background-size: 100% 100%;

	border: none;

	background-color: rgba(255, 255, 255, 0);

}

.ycy_wzj_close {
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: .88rem;
	width: .88rem;
	position: fixed;
	top: 9rem;
	left: 50%;
	transform: translateX(-50%);
}

.sy_con {

	height: auto;

	width: 100%;

}



#cnzz_stat_icon_1274409276 {

	display: none;

}

.mask {

	position: fixed;

	width: 100%;

	height: 100%;

	background: rgba(0, 0, 0, .6);

	display: none;

	z-index: 9999;

}

.modal-box {

	position: absolute;

	top: 30%;

	left: 15%;

	width: 70%;

	height: auto;

	background: #fff;

	border-radius: 6px;

	overflow: hidden;

	border: 1px solid #dcdcdc;

}

.modal-con {

	width: 100%;

	text-align: center;

	padding: 20px;

	font-size: 13px;

	color: #666;

	box-sizing: border-box;

	line-height: 25px;

}

.modal-btn {

	text-align: center;

	width: 100%;

	border-top: 1px solid #dcdcdc;

	color: #065798;

	font-size: 14px;

	padding: 10px 0;

}



.search-btn {

	background-image: url(../img/chakan_btn.png);

	background-repeat: no-repeat;

	background-size: 100% 100%;

	height: 1.41rem;

	width: 3.43rem;

	position: absolute;

	left: 2rem;

	top: 8.5rem;

	z-index: 9999;

	display: inline-block;

}



.xdh {

	height: 8.3rem;

	width: 4.9rem;

	position: absolute;

	left: 1.3rem;

	top: 2.5rem;

	overflow: hidden
}

.xdh01,
.xdh02,
.xdh03,
.xdh04,
.xdh05 {

	display: none;

}

.swiper-slide-active>.xdh>.xdh01 {

	display: block;

	width: 4.1rem;

	position: absolute;

	right: -6rem;

	top: 1.3rem;

	-webkit-animation: xdh01 1s ease-in-out 1s 1 forwards;

	animation: xdh01 1s ease-in-out 1s 1 forwards;

	/*	-webkit-animation: swdh 5s ease-in-out 0s 1 forwards;

        -moz-animation: swdh 5s ease-in-out 0s 1 forwards;

        -ms-animation: swdh 5s ease-in-out 0s 1 forwards;

        -o-animation: swdh 5s ease-in-out 0s 1 forwards;*/

}

@keyframes xdh01 {

	0% {
		right: -6rem;
	}

	100% {
		right: 0.17rem;
	}

}

@-webkit-keyframes xdh01 {

	0% {
		right: -6rem;
	}

	100% {
		right: 0.17rem;
	}

}

.xdh01 img {

	width: 100%;

	height: auto;

}

.swiper-slide-active>.xdh>.xdh02 {

	display: block;

	width: 4.1rem;

	position: absolute;

	left: -6rem;

	top: 2.7rem;

	-webkit-animation: xdh02 1s ease-in-out 3s 1 forwards;

	animation: xdh02 1s ease-in-out 3s 1 forwards;

}

@keyframes xdh02 {

	0% {
		left: -6rem;
	}

	100% {
		left: 0.17rem;
	}

}

@-webkit-keyframes xdh02 {

	0% {
		left: -6rem;
	}

	100% {
		left: 0.17rem;
	}

}

.xdh02 img {

	width: 100%;

	height: auto;

}

.swiper-slide-active>.xdh>.xdh03 {

	display: block;

	width: 4.1rem;

	position: absolute;

	right: -6rem;

	top: 4rem;

	-webkit-animation: xdh03 1s ease-in-out 5s 1 forwards;

	animation: xdh03 1s ease-in-out 5s 1 forwards;

}

@keyframes xdh03 {

	0% {
		right: -6rem;
	}

	100% {
		right: 0.17rem;
	}

}

@-webkit-keyframes xdh03 {

	0% {
		right: -6rem;
	}

	100% {
		right: 0.17rem;
	}

}

.xdh01 img {

	width: 100%;

	height: auto;

}

.xdh03 img {

	width: 100%;

	height: auto;

}

.swiper-slide-active>.xdh>.xdh04 {

	display: block;

	width: 4.1rem;

	position: absolute;

	right: -6rem;

	top: 5.3rem;

	-webkit-animation: xdh04 1s ease-in-out 7s 1 forwards;

	animation: xdh04 1s ease-in-out 7s 1 forwards;

}

@keyframes xdh04 {

	0% {
		right: -6rem;
	}

	100% {
		right: 0.17rem;
	}

}

@-webkit-keyframes xdh04 {

	0% {
		right: -6rem;
	}

	100% {
		right: 0.17rem;
	}

}

.xdh04 img {

	width: 100%;

	height: auto;

}

.swiper-slide-active>.xdh>.xdh05 {

	display: block;

	width: 4.1rem;

	position: absolute;

	left: -6rem;

	top: 6.8rem;

	-webkit-animation: xdh05 1s ease-in-out 9s 1 forwards;

	animation: xdh05 1s ease-in-out 9s 1 forwards;

}

@keyframes xdh05 {

	0% {
		left: -6rem;
	}

	100% {
		left: 0.17rem;
	}

}

@-webkit-keyframes xdh05 {

	0% {
		left: -6rem;
	}

	100% {
		left: 0.17rem;
	}

}

.xdh05 img {

	width: 100%;

	height: auto;

}

.ewm_div2 {

	height: 1.5rem;

	width: 1.5rem;

	position: fixed;

	left: 3rem;

	top: 7.7rem;

}