body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:0.3rem; background-color:#fff;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top; height:auto;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
input:focus{outline:none;}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
body{background:#fff;}
input::-webkit-input-speech-button {display: none}
button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0); }

@-webkit-keyframes bounce {
    20%, 53%, 80%, from, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {
    20%, 53%, 80%, from, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@-webkit-keyframes pulse {
    from, to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
}

@keyframes pulse {
    from, to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
}

@-webkit-keyframes bounceIn {
    20%, 40%, 60%, 80%, from, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounceIn {
    20%, 40%, 60%, 80%, from, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1rem, 0);
        transform: translate3d(0, -1rem, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1rem, 0);
        transform: translate3d(0, -1rem, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-1rem, 0, 0);
        transform: translate3d(-1rem, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-1rem, 0, 0);
        transform: translate3d(-1rem, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(1rem, 0, 0);
        transform: translate3d(1rem, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(1rem, 0, 0);
        transform: translate3d(1rem, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUpByCenter {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 1rem, 0);
        transform: translate3d(-50%, 1rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@keyframes fadeInUpByCenter {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 1rem, 0);
        transform: translate3d(-50%, 1rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@-webkit-keyframes fadeInLeftByCenter {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-40%, 0, 0);
        transform: translate3d(-40%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@keyframes fadeInLeftByCenter {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-40%, 0, 0);
        transform: translate3d(-40%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@-webkit-keyframes fadeInDownByCenter {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -1rem, 0);
        transform: translate3d(-50%, -1rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@keyframes fadeInDownByCenter {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -1rem, 0);
        transform: translate3d(-50%, -1rem, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
}

@-webkit-keyframes lightSpeedOut {
    from {
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0
    }
}

@keyframes lightSpeedOut {
    from {
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0
    }
}

.lightSpeedOut {
    -webkit-animation-name: lightSpeedOut;
    animation-name: lightSpeedOut;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0)
    }
}

@keyframes zoomIn {
    from {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0)
    }
}

@-webkit-keyframes zoomInFromLarge {
    from {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
        opacity: 0
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1
    }
}

@keyframes zoomInFromLarge {
    from {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
        opacity: 0
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1
    }
}

@-webkit-keyframes zoomFromLarge {
    from {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes zoomFromLarge {
    from {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2)
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes zoomOut {
    from {
        opacity: 1
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    to {
        opacity: 0
    }
}
@keyframes zoomOut {
    from {
        opacity: 1
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes swing {
    0%, 100%, 50% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    25% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg)
    }
    75% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
}

@keyframes swing {
    0%, 100%, 50% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    25% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg)
    }
    75% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
}

.swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing
}

@-webkit-keyframes zoomFromR {
    0% {
        -webkit-transform: translateX(1rem) scale(0);
        transform: translateX(1rem) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes zoomFromR {
    0% {
        -webkit-transform: translateX(1rem) scale(0);
        transform: translateX(1rem) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-webkit-keyframes zoomFromL {
    0% {
        -webkit-transform: translateX(-1rem) scale(0);
        transform: translateX(-1rem) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes zoomFromL {
    0% {
        -webkit-transform: translateX(-1rem) scale(0);
        transform: translateX(-1rem) scale(0)
    }
    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-webkit-keyframes zoomFadeFromR {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1rem) scale(0);
        transform: translateX(1rem) scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes zoomFadeFromR {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1rem) scale(0);
        transform: translateX(1rem) scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-webkit-keyframes zoomFadeFromL {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1rem) scale(0);
        transform: translateX(-1rem) scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes zoomFadeFromL {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1rem) scale(0);
        transform: translateX(-1rem) scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-webkit-keyframes zoomOutFadeFromR {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1rem) scale(1.2);
        transform: translateX(1rem) scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes zoomOutFadeFromR {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1rem) scale(1.2);
        transform: translateX(1rem) scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@-webkit-keyframes zoomOutFadeFromL {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1rem) scale(1.2);
        transform: translateX(-1rem) scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}

@keyframes zoomOutFadeFromL {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1rem) scale(1.2);
        transform: translateX(-1rem) scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1)
    }
}
@-webkit-keyframes ring{
    0%{-webkit-transform:scale(1);}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0);}
}
@keyframes ring{
    0%{transform:scale(1);}
    10%,20%{transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{transform:scale(1.1) rotate(-3deg);}
    100%{transform:scale(1) rotate(0);}
}
/*页面样式开始*/
.s_bd {
	width: 100%;
	height:100%;
	position: fixed;
	z-index:1;
	-webkit-animation-name: zoomOut2;
    animation-name: zoomOut2;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomOut2 {
    from {
        opacity: 0.3;
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes zoomOut2 {
    from {
        opacity: 0.3;
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.s_logo {
	height: auto;
	width: 2.8rem;
	position: fixed;
	left: 0.65rem;
	top: 0.65rem;
	z-index:10;
	-webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.s_title {
    height: auto;
    width: 4rem;
    position: fixed;
    left: 1.8rem;
    top: 2rem;
    z-index: 10;
	-webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.s_private {
    height: auto;
    width: 3.8rem;
    position: fixed;
    left: 1.9rem;
    top: 3rem;
    z-index: 10;
	-webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.s_cy_btn {
    height: auto;
    width: 2.5rem;
    position: fixed;
    left: 2.6rem;
    top: 4.9rem;
    z-index: 10;
	-webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.s_cy_btn span {
    height: auto;
    width: 2.5rem;
    position: fixed;
    z-index: 10;
	-webkit-animation-name: ring;
    animation-name: ring;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.s_sm_btn {
	height: auto;
    width: 2rem;
    position: fixed;
    left: 2.8rem;
    top: 5.9rem;
    z-index: 10;
	-webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
.s_cloud01 {
	height: auto;
    width: 1.3rem;
    position: fixed;
    right: 0.25rem;
    top: 3.9rem;
    z-index: 10;
	-webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.s_cloud02 {
	height: auto;
    width: 1.2rem;
    position: fixed;
    left: 1.2rem;
    top: 7.4rem;
    z-index: 10;
	-webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}
.s_girl {
    height: auto;
    width: 1.7rem;
    position: fixed;
    left: 5rem;
    bottom: 0.5rem;
    z-index: 10;
	-webkit-animation-name: fromLeft;
    animation-name: fromLeft;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.s_mr {
    height: auto;
    width: 2.2rem;
    position: fixed;
    left: 2.9rem;
    bottom: 0.2rem;
    z-index: 11;
	-webkit-animation-name: fromLeft;
    animation-name: fromLeft;
    -webkit-animation-duration: 5.5s;
    animation-duration: 5.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}
.s_miss {
    height: auto;
    width: 2.1rem;
    position: fixed;
    left: 1rem;
    bottom: 0.5rem;
    z-index: 10;
	-webkit-animation-name: fromLeft;
    animation-name: fromLeft;
    -webkit-animation-duration: 8.6s;
    animation-duration: 8.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes fromLeft {
    from {
        -webkit-transform: translate3d(-8rem, 0, 0);
        transform: translate3d(-8rem, 0, 0)
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fromLeft {
    from {
        -webkit-transform: translate3d(-8rem, 0, 0);
        transform: translate3d(-8rem, 0, 0)
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}


.wt_bg {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
}
.logo {
	height: auto;
	width: 2.8rem;
	position: fixed;
	left: 0.6rem;
	top: 0.65rem;
	z-index:10;
}

.sm_tit {
	height: 0.55rem;
	width: 100%;
}
.sm_tit img {
	height: 0.55rem;
	width: auto;
}
.sm_c {
	height: auto;
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
	box-sizing:border-box;
	position:fixed;
	z-index:10;
	top:15%;
}
.sm_con {
    font-size: 0.25rem;
    line-height: 0.45rem;
    color: #333;
    height: 7.5rem;
    width: 100%;
    overflow: auto;
    text-align: justify;
	padding-bottom:25px;
	box-sizing:border-box;
}
.q_tit {
	width: 100%;
	height:1.3rem;
	padding-right: 12%;
	padding-left: 12%;
	box-sizing:border-box;
	position: fixed;
	top: 11%;
	z-index:10;
	display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-flow: column-reverse; /* Safari 6.1+ */
    flex-flow: column-reverse;
	-webkit-justify-content: center ;
	justify-content: center ;
}
.q_tit span{
	width: 100%;
	height:auto;
	font-size: 0.35rem;
	line-height: 0.45rem;
	color: #333;
	word-break:break-all;
	text-align:justify;
	}
.q_con {
	clear: both;
	float: left;
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
	position: fixed;
	top: 23%;
	box-sizing:border-box;
	z-index:10;
}
.q_con label {
	font-size: 0.32rem;
	line-height: 0.45rem;
	color: #333;
	height: auto;
	width: 100%;
	word-break:break-all;
	float:left;
	clear:both;
	padding-bottom:10px;
}
.q_con label input {
	opacity:0;
}
.q_bottom {
	width: 100%;
	height: 3.2rem;
	padding-right: 15%;
	padding-left: 15%;
	position: fixed;
	overflow: auto;
	top: 53%;
	box-sizing: border-box;
	z-index: 10;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-flow: column-reverse; /* Safari 6.1+ */
	flex-flow: column-reverse;
	-webkit-justify-content: center;
	justify-content: center;
	background-image: url(../img/q_bottom.png);
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-position: center center;
}
.q_bottom span {
	width: 100%;
	height:auto;
	overflow:auto;
	word-break:break-all;
	font-size: 0.3rem;
	line-height: 0.4rem;
	color: #333;
	text-align:justify;
}
.w_bottom {
	width: 100%;
	height: 3.2rem;
	padding-right: 15%;
	padding-left: 15%;
	position: fixed;
	overflow: auto;
	top: 53%;
	box-sizing: border-box;
	z-index: 10;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-flow: column-reverse; /* Safari 6.1+ */
	flex-flow: column-reverse;
	-webkit-justify-content: center;
	justify-content: center;
	background-image: url(../img/q_bottom.png);
	background-repeat: no-repeat;
	background-size: 80% 100%;
	background-position: center center;
}
.w_bottom span {
	width: 100%;
	height:auto;
	overflow:auto;
	word-break:break-all;
	font-size: 0.3rem;
	line-height: 0.4rem;
	color: #333;
	text-align:justify;
}
.w_in {
	height: 1rem;
	width: 100%;
	padding-right: 15%;
	padding-left: 35%;
	box-sizing: border-box;
	float: left;
	clear: both;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 80%;
}
.w_in input {
	font-size: 0.35rem;
	line-height: .4rem;
	color: #333;
	float: left;
	width: 90%;
	overflow: hidden;
	border:none;
	outline:none;
	margin:0.25rem 0;
	background-color:rgba(255,255,255,0);
}
.w_btn {
	background-color:#fff;
	background-image: url(../img/sub_btn.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 0.7rem;
	width: 2.4rem;
	border:none;
	float:left;
	clear:both;
	margin-left:35%;
	margin-top:5%;
}
.wb_con {
	background-image: url(../img/wb_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:100% 100%;
	height: 100%;
	width: 100%;
	position:fixed;
}
.w_logo {
	height: auto;
	width: 2.8rem;
	margin-left: 0.6rem;
	margin-top: 0.65rem;
	float:left;
	clear:both;
}
.j_tit {
	text-align: center;
	height: 1.3rem;
	width: 100%;
	position: fixed;
	z-index: 11;
	top:3%;
	padding-right:5%;
	box-sizing:border-box;
}
.j_tit img {
	margin: auto;
	height: 100%;
	width: auto;
}
.j_bao {
	text-align: center;
	height: 2.9rem;
	width: 100%;
	position: fixed;
	z-index: 11;
	top:34%;
	box-sizing:border-box;
}
.j_bao img {
	margin: auto;
	height: 100%;
	width: auto;
}
.j_cha {
	text-align: center;
	height: 1.8rem;
	width: 100%;
	position: fixed;
	z-index: 11;
	top:57%;
	box-sizing:border-box;
}
.j_cha img {
	margin: auto;
	height: 100%;
	width: auto;
}
.j_cha a {
	height: 100%;
	width: auto;
	display:inline-block;
}
.j_text {
	font-size: 0.28rem;
	line-height: 0.36rem;
	color: #333;
	width: 100%;
	position: fixed;
	z-index: 11;
	height:2.5rem;
	overflow:auto;
	word-break:break-all;
	top:15.5%;
	padding:0 7%;
	box-sizing:border-box;
	text-align:justify;
	display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-flow: column-reverse; /* Safari 6.1+ */
    flex-flow: column-reverse;
	-webkit-justify-content: center ;
	justify-content: center ;
}
.name_bg {
	background-image: url(../img/name.png);
}
.tel_bg {
	background-image: url(../img/tel.png);
}

.q_con label small {
	font-size: 0.32rem;
	float: left;
	width: 20px;
}
.q_con label span {
	float: left;
	width:calc(100% - 65px);
	word-break:break-all;
}
